.img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 450px;
  cursor:pointer;
}

.fullTitle{
  text-decoration: none;
  color:white;
  align-items: center;
}

.title {
  vertical-align: middle;
}

.displayImg {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 450px;
}

.myButton {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.startButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:26px 128px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
  margin-right: 3em;
}
.startButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.startButton:active {
	position:relative;
	top:1px;
}

.centered {
  position: absolute;
  top: 45%;
  left: 48%;
}

.centeredHome {
  position: absolute;
  top: 25%;
  left: 30%;
  text-align: center;
}

.centeredBattle {
  position: fixed;
  top: 30%;
  left: 30%;
}

.centeredScoreboard {
  position: absolute;
  top: 20%;
  left: 39%;
}

.centeredHistoricalRankings {
  position: absolute;
  top: 20%;
  left: 35%;
}

.header {
  font-style: italic;
  font-size: 45px;
  text-shadow: 1px 1px 10px grey;
  margin: 0;
  margin-bottom: 4rem;
  padding:0;
  background-color: lightblue;
}

.table {
  color: white;
}

.tableHeader {
  font-size: 25px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.tableData {
  font-size: 25px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.nav{
  display:flex;
  /* justify-content: space-around; */
  align-items: center;
  min-height: 10vh;
  color: white;
  font-style: italic;
  font-size: 45px;
  text-shadow: 1px 1px 10px grey;
  margin: 0;
  margin-bottom: 4rem;
  padding:0;
  background-color: lightblue;
}

.navLinks{
  width:50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;

}

.logoImg {
  width: 100px;
  height: 100px;
  cursor:pointer;
  /* float:left; */
  vertical-align: middle;
}

.startHeader {
  color: white;
  margin-bottom: 4rem;
  font-size: 5em;
  font-style: italic;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  text-shadow: 2px 2px 20px grey;
}

.startClickButtonHeader {
  color: rgb(207, 207, 207);
  margin-top: 4rem;
  font-size: 2em;
  font-style: italic;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  margin-right: 2em;
}